__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.qmd
*.pdf
*.png
*.pth
*.pt
*.ckpt
runs/
logs/
tb_logs/
wandb/
.pixi/
data/
datasets/
results/
figs/
.vscode/
.idea/
*.swp
*.csv
.quarto/
*_files/
*_cache/
.ipynb_checkpoints/

build/