__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.qmd
*.pth
*.pt
*.ckpt
runs/
logs/
tb_logs/
wandb/

data/
datasets/
results/
figs/

.vscode/
.idea/
*.swp

.quarto/
*_files/
*_cache/
.ipynb_checkpoints/

build/